*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
font-family: "Exo 2", sans-serif;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

header {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 800;
}

body {
    background-color: #c4b5fd;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.game-board div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border: 1px solid black;
    font-weight: 800;
    color: white;
    background-color: #6d28d9;

}

.input-field {
    margin-bottom: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    appearance: none;
    width: 300px;
    border-radius: 10px;
}

label {
    font-size: 2rem;
}

button {
    width: fit-content;
    border-radius: 10px;
}

.new-round {
    margin-top: 1em;
    margin-bottom: 1em;
}

.announcment {
    font-size: 3rem;
    font-weight: 500;
    color: #9333ea;
    background-color: #d4d4d4;
    border-radius: 15px;
}